.link {
  position: relative;
  z-index: 10;
  color: var(--accent);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .link {
    font-size: 1rem; /* Ajuste la taille de la police des liens */
  }
} 